<html lang="en">
    <!DOCTYPE html>
    <head>
        <link rel="stylesheet" href="../css/main.css">
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
        <link href='https://fonts.googleapis.com/css?family=Racing+Sans+One' rel='stylesheet' type='text/css'>
        <title>Development</title>
    </head>
    <body>
    <div class="l-landing-page">
        <div class="l-content-wrap">
                <div class="l-content-title">
                    <span>DEVELOPMENT</span>
                </div>
                <div class="l-patch-notes">
                    <div class="patch-note">
                        <div class="patch-note-header">
                            <div class="patch-note-date">
                                <span>24 Jan</span>
                            </div>
                            <div class="patch-note-title">
                                <span>Patch 1.8</span>
                            </div>
                        </div>
                        <div class="patch-note-body">
                            <span class="changelog-header">Changelog:</span>
                            <div class="changelog-content">
                                <div class="changelog-line">

                                    <div class="changelog-line-header">
                                        <span class="changelog-line-type">New Feature:</span>
                                        <span class="changelog-line-title">Plasma Gun</span>
                                    </div>
                                    <div class="changelog-line-body">
                                        Enemies from the Tokyo levels now have a chance to drop Plasma Guns!
                                        Plasma Guns can hold up to 24 shots of ammo. Ammo charges will drop in small amounts from human enemies and in big amounts from robotic enemies.
                                    </div>
                                </div>
                                <div class="changelog-line">
                                    <div class="changelog-line-header">
                                        <span class="changelog-line-type">New Level:</span>
                                        <span class="changelog-line-title">Tokyo Slums</span>
                                    </div>
                                    <div class="changelog-line-body">
                                        Embark on a journey in the lowest district of Tokyo’s futuristic landscape. Meet old foes, two new enemy types and tons of ramen bowls!
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
<!-- another patch note-->
                    <div class="patch-note">
                        <div class="patch-note-header">
                            <div class="patch-note-date">
                                <span>31 Oct</span>
                            </div>
                            <div class="patch-note-title">
                                <span>Patch 1.7</span>
                            </div>
                        </div>
                        <div class="patch-note-body">
                            <span class="changelog-header">Changelog:</span>
                            <div class="changelog-content">
                                <div class="changelog-line">

                                    <div class="changelog-line-header">
                                        <span class="changelog-line-type">New Level:</span>
                                        <span class="changelog-line-title">Lost Angeles</span>
                                    </div>
                                    <div class="changelog-line-body">
                                        Explore the US city equiped with the most cybernetic technology. Face off robotic enemies coming from times as old as World War III. Be careful though, as prolonged maintainance can only do so much for any piece of technology! These archaic constructs will occasionally malfunction, at times giving you an easier time beating them, and in other cases even explode, putting you into a bigger danger!
                                    </div>
                                </div>
                                <div class="changelog-line">
                                    <div class="changelog-line-header">
                                        <span class="changelog-line-type">Bugfix #74:</span>
                                        <span class="changelog-line-title"></span>
                                    </div>
                                    <div class="changelog-line-body">
                                        Jumping over certain enemies with flexible model sizes will no longer cause damage to player when it shouldn’t.
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="l-play-area">
                <a class="l-play-button" href="../index.html">
                    <span>Start Game</span>
                </a>
            </div>
            <div class="l-menu">
                <a class="l-menu-button" href="story.html">
                    <span>Story</span>
                </a>
                <a class="l-menu-button button-active" href="#">
                    <span>Development</span>
                </a>
                <a class="l-menu-button" href="games.html">
                    <span>More Games</span>
                </a>
                <a class="l-menu-button" href="shop.html">
                    <span>Shop</span>
                </a>
                <a class="l-menu-button" href="skins.html">
                    <span>Skins</span>
                </a>
            </div>
        </div>
    </body>
</html>