<html lang="en">
    <!DOCTYPE html>
    <head>
        <link rel="stylesheet" href="../css/main.css">
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
        <link href='https://fonts.googleapis.com/css?family=Racing+Sans+One' rel='stylesheet' type='text/css'>
        <title>Skins</title>
    </head>
    <body>
        <div class="l-landing-page">
            <div class="l-game-screen">
                <h1>Tutorial</h1>
            </div>
            <div class="l-play-area">
                <a class="l-play-button" href="../index.html"><span>Start Game</span></a>
            </div>
            <div class="l-menu">
                <a class="l-menu-button" href="story.html">
                    <span>Story</span>
                </a>
                <a class="l-menu-button" href="development.html">
                    <span>Development</span>
                </a>
                <a class="l-menu-button" href="games.html">
                    <span>More Games</span>
                </a>
                <a class="l-menu-button" href="shop.html">
                    <span>Shop</span>
                </a>
                <a class="l-menu-button button-active" href="#">
                    <span>Skins</span>
                </a>
            </div>
        </div>
    </body>
</html>