<html lang="en">
    <!DOCTYPE html>
    <head>
        <link rel="stylesheet" href="../css/main.css">
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
        <link href='https://fonts.googleapis.com/css?family=Racing+Sans+One' rel='stylesheet' type='text/css'>
        <title>Story</title>
    </head>
    <body>
        <div class="l-landing-page">
            <div class="l-content-wrap">
                <div class="l-content-title">
                    <span>STORY</span>
                </div>
                <div class="l-story-content">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur...
                </div>
                <div class="story-next-button">
                    <span>NEXT</span>
                </div>
            </div>
            <div class="l-play-area">
                <a class="l-play-button" href="../index.html">
                    <span>Start Game</span>
                </a>
            </div>
            <div class="l-menu non-landing-menu" id="#non-landing-menu">
                <a class="l-menu-button button-active" href="#">
                    <span>Story</span>
                </a>
                <a class="l-menu-button" href="development.html">
                    <span>Development</span>
                </a>
                <a class="l-menu-button" href="games.html">
                    <span>More Games</span>
                </a>
                <a class="l-menu-button" href="shop.html">
                    <span>Shop</span>
                </a>
                <a class="l-menu-button" href="skins.html">
                    <span>Skins</span>
                </a>
            </div>
        </div>

    </body>
</html>